{% extends 'base.html' %}
{% csrf_token %}
{% load staticfiles %}
{% block content %}

<H1>Welcome to Get Fact</H1>

<h2>What is it?</h2>
<p>This is a place where you can find out if an alleged fact has any credible sources behind it</p>
<p>Alot out there is presented as fact and it can be difficult to find a sources to support them. Lets see if we can end that here!</p>
</b>
<h2>How does it work?</h2>
<p>Create and Account</p>
<p>Click on "New Fact Check"</p>
<p>Post the fact that you would like to get a citation on, for example: "Is it true that the President said ....."</p>
<p>Keep your post concise. It also helps to have one fact check per post as it makes it easier to have your question answered</p>
<p>Sit back and allow others to provide citations for your post</p>
<p>Get Fact allows others to rate the truthfulness of a citiation to help you prioritise the best sources out there</p>
<p>Have fun</p>
<h2>Why do I need this?</h2>
<p>You need this if you are trying to find references to things you have heard. Perhaps you are struggling to find answers through search engines or maybe you need a citiation thats highly specific and requires a community of truth seekers to help you out</p>
<p>Whether you are trying to sift through the noise coming out of the media or you want to make your homework as accurate as possible, Get Fact!</p>
<h2>Rules and guidelines</h2>
<p>Be excellent to each other! Lets be respectful to each other, this is a place to find the truth so please avoid trolling, abuse, bullying and general rudeness</p>
<p>Avoid essays. This is not your personal blog, avoid long questions as it makes it hard for people to understand what you want as a citation.</p>
<p>Answer with references. Provide credible links to websites/tweets/articles etc and state where you can find the source if its in a large site or block of text. If you provide a reference to an offline source like a book, please try to state as much information as you can i.e. the title, author, edition, chapter and if possible page number along with any quotations.</p>
<p>Like a fact check! If someone is getting a fact check that you think others should know about, like it!</p>
<p>Rate an answer based on its truthfulness. It's not about whether you like it or not, its about if the citation is credible and true!</p>
<h2>Feedback</h2>
<p>How can we make this a better place to find the truth? Please let me know about improvements or bugs at xxxx@xxxx.com. Ill do my up most best to improve the service</p>



{% endblock %}