{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <head>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/ajax-js.js' %}"></script>
    </head>
	<div class="fact_detail">
    <div class="post">
        {% if fc.published_date %}
            <div class="date">
                {{ fc.published_date }}
            </div>
        {% endif %}
        <h1>{{ fc.title }}</h1>
        {% if fc.author != None %}
            <img src="{{ fc.author.profile.image.url }}" width="240">
            <p>{{ fc.author }}</p>
        {% else %}
            <img src="../../media/profile_image/SSMILE.jpg" width="240">
            <p>Anom</p>
        {% endif %}
        <p>{{ fc.text|linebreaksbr }}</p>

        <div data-role="review_container" data-fc_id="{{fc.id}}">
            <strong>Likes: </strong><strong data-role="like_count">{{ fc.totalLikes }}</strong> 
            <strong>Dislikes: </strong><strong data-role="dislike_count">{{ fc.totalDislikes }}</strong>
                <button data-action="likes" class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    Like
                </button>
                <button data-action="dislikes" class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                    Dislike
                </button>
        </div>

        {% if user.is_authenticated %}
        	{% if fc.author == user %}
        		<a class="btn btn-default" href="{% url 'fc_edit' pk=fc.pk %}">Edit</a>
                <a class="btn btn-default" href="{% url 'fc_delete' pk=fc.pk %}">Delete</a>
        	{% endif %}
        	<a href="{% url 'add_comment_to_post' pk=fc.pk %}">Check Fact</a>
        {% else %}
        	<a href="{% url 'login' %}">Log in to check fact</a>
        {% endif %}
    </div>
    {% if mostTrueComment != 'neg' %}
    <div id='TopFactCheck'>
    <h2>Top Fact Check</h2>
        <div class="date">{{ mostTrueComment.created_date }}</div>
        {% if mostTrueComment.author != None  %}
            <img src="{{ mostTrueComment.author.profile.image.url }}" width="50">
            <strong>{{ mostTrueComment.author }}</strong>
        {% else %}
            <img src="../../media/profile_image/SSMILE.jpg" width="50">
            <strong>Anom</strong>
        {% endif %}
        <p>{{ mostTrueComment.text|linebreaks }}</p>
        <div data-role="creview_container" data-c_id="{{mostTrueComment.id}}">
            <strong>True: </strong><strong data-role="true_count">{{ mostTrueComment.totalTrues }}</strong> 
            <strong>Sort Of True: </strong><strong data-role="sortof_count">{{ mostTrueComment.totalSortOfs }}</strong> 
            <strong>False: </strong><strong data-role="false_count">{{ mostTrueComment.totalFalses }}</strong> 

            <button data-action="trueComment" class="btn btn-primary" type="button">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                True
            </button>
            <button data-action="sortOfComment" class="btn btn-primary" type="button">
                <span class="glyphicon glyphicon-minus"></span>
                Sort Of True
            </button>
            <button data-action="falseComment" class="btn btn-primary" type="button">
                <span class="glyphicon glyphicon-thumbs-down"></span>
                False
            </button>
        </div>
    </div>
    {% endif %}

    {% for comment in fc.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>


        {% if comment.author != None  %}
            <img src="{{ comment.author.profile.image.url }}" width="50">
            <strong>{{ comment.author }}</strong>
        {% else %}
            <img src="../../media/profile_image/SSMILE.jpg" width="50">
            <strong>Anom</strong>
        {% endif %}

        <p>{{ comment.text|linebreaks }}</p>

        <div data-role="creview_container" data-c_id="{{comment.id}}">
            <strong>True: </strong><strong data-role="true_count">{{ comment.totalTrues }}</strong> 
            <strong>Sort Of True: </strong><strong data-role="sortof_count">{{ comment.totalSortOfs }}</strong> 
            <strong>False: </strong><strong data-role="false_count">{{ comment.totalFalses }}</strong> 

            <button data-action="trueComment" class="btn btn-primary" type="button">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                True
            </button>
            <button data-action="sortOfComment" class="btn btn-primary" type="button">
                <span class="glyphicon glyphicon-minus"></span>
                Sort Of True
            </button>
            <button data-action="falseComment" class="btn btn-primary" type="button">
                <span class="glyphicon glyphicon-thumbs-down"></span>
                False
            </button>
        </div>


        {% if user.is_authenticated %}
            {% if comment.author == user %}
                <a class="btn btn-default" href="{% url 'delete_comment' pk=comment.pk fpk=fc.pk %}">Delete</a>
            {% endif %}
        {% endif %}
    </div>
	{% empty %}
    	<p>No fact checks yet, keep hope alive ;)</p>
	{% endfor %}
	</div>
{% endblock %}