{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<head>
    	<script src="{% static 'js/jquery.js' %}"></script>
    	<script src="{% static 'js/ajax-js.js' %}"></script>
	</head>
	{% if user.is_authenticated %}
		<img src="{{ user.profile.image.url }}" width="140">

		<h2>My Account: {{ user.username }}</h2>

		<div id="flip"><button>Change profile picture</button></div>
		<div id="imgpanel">
			<form action=""  method="post" enctype="multipart/form-data">{% csrf_token %}
    			<p>
        			<input id="id_image" type="file" class="" name="image">
    			</p>

    			<input type="submit" value="Submit" />

			</form>
	    </div>

	    <h2><a href="{% url 'edit_profile' %}">My Profile</a></h2>
		<h2><a href="{% url 'password_change' %}">Change Password</a></h2>

		<div id="flipdelete"><button>Delete Account</button></div>
		<div id="panel"><h2><a href="{% url 'deleteaccount' %}?next={{ home}}">Confirm you wish to delete account?(Any Facts or comments you created will continue as anonomous).</a></h2></div>

		<h2><a href="{% url 'myfacts' %}">My Facts</a></h2>
		<h2><a href="{% url 'mycomments' %}">My Comments</a></h2>


		<h2>
	{% else %}
		<h1><a href="{% url 'login' %}">Log in to view your profile</a></h1>
	{% endif %}
{% endblock %}