#imgpanel, #flip {
    padding: 5px;
    width: 20%;
}

#check_fact{
	margin-top: 1%;
}
#logo img{
	width: 70px;
	height: 70px;
	float:left;
}

.card-body{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

.card-body a{
	color: #F2F1DD;
}

.glyphicon.glyphicon-thumbs-up{
	border-color: #5D77DE;
	background-color :#5D77DE;
}

.column {
    float: left;
    width: 50%;
}

#topfacts{
	margin-left: 10%;
}
.row{
	width:100%;
	margin-left: 10%;
}

#BlankEmail{
	background-color: #D88686;
	font-weight: bold;
	padding:3px;
}

#TopFactCheck{
	background-color: #F4E7C7;
	padding:3px;
}

.errorlist.nonfield, ul{
	color:red;
}

#imgpanel {
    display: none;
}

img {
    border-radius: 50%;
}

#panel{
	display: none;
}

#searchbox.searchfield, input{
	line-height: 2em;
}

#panel a{
	color: red;
}

.jumbotron{
	background-color:#C2DAE2;
 	line-height: 100px;
}

.jumbotron h1,.jumbotron a{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size: 2.5em;
	color:#795948;
	text-align: center;
}

.jumbotron h2{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	color:#B98569;
	text-align: center;
}

body {
	background-color: #F4EFEC;
}

#comment_container{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

#comment_container ul{
	list-style: none;
}

#comment_container li{
	float: left;
}

.navbar-brand{
	margin-left: 10%;	
}

.comment{
	margin-top: 1%;
}

.card-body{
	width: 700px;
}

.card-title{
	color: #379337;
}

.treview_container{
	margin-left: 17px; 
	padding-bottom: 10px;
}

.card.border-success.mb-3{
	width: 100%;
}
.card-text p{
	color: #000000;
}

.post h1,a{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size: 1em;
	color:#667CA2;
}

.post #detailTitle{
	font-size: 5em;
}

.post #postAuthor{
	margin-top: -30px;
	margin-left: 10%;
}
.post ul{
	list-style-type: none;
	color:#000000;
	margin-bottom: 23%;
}

.post li{
  float: left;
  padding-right: 7%;
}

.post img{
	width:200px;
	height: 200px;
}

.post p{
	font-family: 'Vollkorn', Georgia, Times, serif;
 font-size: 16px;
 line-height: 25px;
}

.fcList{
	margin-left: 15%;	
}

#newFact{
	float:left;
	padding-left: 10px;
}

.toolbar{
	position: -webkit-sticky;
    position: sticky;
    top: 0;
	padding-bottom: 5px;
	background-color: #333;
	z-index: 1;
}

#newFact{
	margin-left: 5px;
}




.toolbar ul{
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 5px;
}

.toolbar li{
    float: left;
    margin-left: 5px;
}

.navbar-brand{
	background-color: #333;
}

.toolbar p{
	color: #FFFFFF;
}

#user{
	float: right;
	margin-right: 1%;
}

#user li{
	margin-right: 20px;
}

#user p{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size: 16px;
 	line-height: 25px;
 	margin-top: 10px;	
}
#search li{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	float:right;
	margin-right: 1%;
}
